@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.cdnfonts.com/css/rockett-dreams');



body {
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  background-color: #f3f3f3 !important;
}

a {
  font-weight: 400 !important;
  text-decoration: none !important;
}

.admin {
  min-height: 100vh !important;
}

.animate__animated .animate__fadeIn {
  --animate-duration: 5s;
}

footer {
  background-color: #040D12 !important;
  color: white;
}
footer li {
  color: white;
}

main {
  min-height: 100vh !important;
}

.titles {

  font-family: 'Rockett Dreams', sans-serif !important;

}


.banner-title {

  font-size: 12rem;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: white;
 
}

.header {
  width: 100% !important;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  background-color: #F7F6FB;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header_toggle {
  color: #040D12;
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 68px;
  height: 100vh;
  background-color: #040D12;
  padding: 0.5rem 1rem 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 1rem -webkit-max-content;
  -ms-grid-columns: max-content 1rem max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: #F7F6FB;
}

.nav_logo-name,
.nav_link {
  color: #F7F6FB;
  font-weight: 700;
}

.nav_link {
  position: relative;
  margin-bottom: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_link:hover {
  color: #F7F6FB;
}

.nav_icon {
  font-size: 1.25rem;
}

.show-sidebar {
  left: 0;
}

.active {
  color: #F7F6FB;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #F7F6FB;
}

.height-100 {
  height: 100vh;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(3rem + 1rem) 0 0 0;
    padding-left: calc(68px + 2rem);
  }
  .header {
    height: calc(3rem + 1rem);
    padding: 0 2rem 0 calc(68px + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show-sidebar {
    width: calc(68px + 156px);
  }
  .body-pd {
    padding-left: calc(68px + 188px);
  }
}
.offcanvas {
  width: 100% !important;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:not(:-moz-placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input:not(:-ms-input-placeholder) ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms, -webkit-transform 200ms;
  top: 20px;
}

.input:not(:-moz-placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:-ms-input-placeholder) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  -webkit-transform: translateY(-30px) translateX(10px) scale(0.75);
          transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:-moz-placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:not(:-ms-input-placeholder) ~ .placeholder {
  color: #808097;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.loader {
  width: 100% !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #040D12;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 7px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner 0.7s linear infinite;
          animation: spinner 0.7s linear infinite;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.home {
  min-height: 80vh !important;
}
.home h1 {
  font-size: 70px;
}
@media (max-width: 768px) {
  .home h1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); /* Vuelve a la posición vertical en pantallas pequeñas */
  }
}

.titles {
  font-size: 5rem;
  text-align: center;
}

.card {
  border: none; /* Quita el borde */
  -webkit-box-shadow: none;
          box-shadow: none; /* Quita la sombra */
  border-radius: 10px !important;
}

.card-category {
  background-color: #f3f3f3 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 15rem;
  padding: 2rem auto;
  border-radius: 10px !important;
  background-color: #ffce00 !important;
}
.card-category .card-body-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  height: 100%;
}
.card-category .content-left {
  margin-right: 10px;
}
.card-category h6 {
  font-size: 1.2rem !important;
  font-weight: 900 !important;
  margin-top: 8rem !important;
}
.card-category strong {
  color: #ffce00 !important;
  font-size: 0.8rem !important;
}

.card-product {
  position: relative;
  width: 320px;
  height: 360px;
  background: #191919;
  border-radius: 10px !important;
  overflow: hidden;
}
.card-product::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  -webkit-transform: skewY(345deg);
          transform: skewY(345deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card-product:hover::before {
  top: -70%;
  -webkit-transform: skewY(390deg);
          transform: skewY(390deg);
}
.card-product::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}
.card-product .imgBox {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.card-product .imgBox img {
  max-width: 100%;
  height: auto;
}
.card-product .contentBox {
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}
.card-product .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card-product .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.card-product .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 10px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card-product:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  max-width: 100%;
  height: auto;
}

#ChartTipoProductoContainer {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}
#ChartTipoProductoContainer canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

button {
  border-radius: 25%;
}
button i {
  font-size: 50% !important;
  height: 2vh;
  width: 2vw;
}